
// load fonts
@import url('https://fonts.googleapis.com/css?family=Ruda:400,700|Varela+Round');

$primaryFont : 'Varela Round', sans-serif;
$contentFont : 'Ruda', sans-serif;




// colors

$primary : #62559F;
$secondary : blue;
$accent: green;
$danger: tomato;

