// base modules

@import 'base';
@import 'variables';

// components
@import './components/button';


// modules
.auth-container{
    @import "./modules/header";
    @import "./modules/twopanel";
    @import "./modules/login-form";
}



#app{
    //height: 100vh;
}

.auth-body{
    //height: 100vh;
    min-height: 100vh;
    background: #62559F !important;
    //overflow: hidden;
}

.particles-js-canvas-el{
    --height: 953px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: var(--height) !important;
    width: 100%;
}



